<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @telephone.firstname %>
</p>

<p>
  <strong>Phono:</strong>
  <%= @telephone.phono %>
</p>

<p>
  <strong>Address:</strong>
  <%= @telephone.address %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @telephone.lastname %>
</p>

<p>
  <strong>Emailid:</strong>
  <%= @telephone.emailid %>
</p>

<p>
  <strong>Doorno:</strong>
  <%= @telephone.doorno %>
</p>

<p>
  <strong>Street:</strong>
  <%= @telephone.street %>
</p>

<p>
  <strong>Area:</strong>
  <%= @telephone.area %>
</p>

<p>
  <strong>City:</strong>
  <%= @telephone.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @telephone.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @telephone.country %>
</p>

<%= link_to 'Edit', edit_telephone_path(@telephone) %> |
<%= link_to 'Back', telephones_path %>
